<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/home.css' />

        <div style="width: 100%; height: 160px; background-color: #DEB887" class="titleBar;" id="titleBar">
            <h1 style="color: #fdfbfb; padding-left: 30px; padding-top: 20px; font-size: 40px">留言板</h1>
            <h3 style="color: #efefe8; padding-left: 15px">&nbsp;&nbsp;&nbsp;Webpage message board</h3>
        </div>

    </head>



    <body>

        <div align="right">
            <h2>
                <a href="./login" target="_self" id="signIn" style="text-decoration: none; ">登陆</a>
                <b>|</b>
                <a href="./register" target="_self" id="signUp" style="text-decoration: none;">注册</a>
            </h2>

        </div>

        <marquee style="color:forestgreen; font-size:large">Merry Christmas!</marquee>





        <h1>写留言</h1>
        <h4> Write a message</h4>
        <textarea cols="50" rows="4" style="font-size: 50px; align-self: center"></textarea>
        <br/>

        <script language="javascript">
            function loginf(){
                alert("请先登陆");
                window.location.href="./login"
            }
        </script>
        <input style="width: 100px; height: 40px; background-color: black; color: #fdfbfb; border-radius: 20px; border: none; outline: none" type="button" onclick="loginf()" value="提交"/>
        <br><br><br>
        <div style="width: 100%; height: 100px; background-color: #F5F5DC" class="titleBar;" id="titleBar">
            <h1 style="color: forestgreen; padding-left: 30px; padding-top: 20px; font-size: 40px">站内留言</h1>
        </div>


        <div id="all_user_notes" >
            <!--add-->
        </div>

        <marquee style="color:forestgreen; font-size:large">欢迎留言</marquee>

        <script>
            document.getElementById('titleBar').style.boxShadow = "0px 0px 10px 3px #fbfbfb";
        </script>

        <script>
            var signIn = document.getElementById('signIn');
            var signUp = document.getElementById('signUp');

            /*history listener*/
            signIn.onmouseenter = function () {
                signIn.style.color="green";
            };
            signIn.onmouseleave = function () {
                signIn.style.color="#000000";
            };

            /*logout listener*/
            signUp.onmouseenter = function () {
                signUp.style.color="green";
            };
            signUp.onmouseleave = function () {
                signUp.style.color="#000000";
            };
        </script>

        <!--调用后台JS获取user_notes-->
        <script>
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {  /*所有数据已经就绪*/
                    if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                        // alert(xhr.responseText);
                        var jsonObj = JSON.parse(xhr.responseText);
                        getUserNote(jsonObj);
                    } else {
                        alert("response was unsuccessful: " + xhr.status);
                    }
                }
            };
            xhr.open("GET", "http://localhost:3000/allnotes" , true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(null);

            function getUserNote(userNote) {
                var addNoteList = document.getElementById("all_user_notes");
                var j = 0;
                for (var i in userNote) {
                    var ul = document.createElement("Ul");
                    ul.style.borderRadius = "10px";
                    var li1 = document.createElement("Li");

                    var name ;

                    var date = new Date(i);
                    console.log(date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds());
                    if(userNote[i].Param === 0){
                        name= "匿名";
                    }else{
                        name = userNote[i].User;
                    }
                    //console.log("名字："+name);


                    var text1 = document.createTextNode(name +":  "+ userNote[i].Note + "     " +date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds() );
                    li1.appendChild(text1);
                    ul.appendChild(li1);
                    if (j%2==1) {
                        ul.style.background = "#8cffe7";
                    } else {
                        ul.style.background = "#FFF8DC";
                    }
                    j++;
                    addNoteList.appendChild(ul);
                }
            }
        </script>

    </body>
</html>
