<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/button_right.css' />

    <div style="width: 100%; height: 160px; background-color: #DEB887" class="titleBar;" id="titleBar">
        <h1 style="color: #fdfbfb; padding-left: 30px; padding-top: 20px; font-size: 40px">留言板后台管理</h1>
        <h3 style="color: #efefe8; padding-left: 15px">&nbsp;&nbsp;&nbsp;Webpage message board</h3>
    </div>
</head>



<body>
<div align="right">
    <h2>
        <b>管理员你好|</b>
        <a href="/" onclick="javascript:alert('注销成功')" target="_self" id="logout" style="text-decoration: none;">注销</a>
    </h2>

</div>


<br><br><br>
<div style="width: 100%; height: 100px; background-color: #F5F5DC" class="titleBar;" id="titleBar">
    <h1 style="color: forestgreen; padding-left: 30px; padding-top: 20px; font-size: 40px">待审核留言</h1>
</div>

<div id="un_pass_notes">
    <!--add-->
</div>

<!--调用后台JS获取user_notes-->
<script>
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {  /*所有数据已经就绪*/
            if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                //alert(xhr.responseText);
                var jsonObj = JSON.parse(xhr.responseText);
                getUserNote(jsonObj);
            } else {
                //alert("response was unsuccessful: " + xhr.status);
            }
        }
    };
    xhr.open("GET", "http://localhost:3000/systemget", true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhr.send(null);

    function getUserNote(userNote) {
        var addNoteList = document.getElementById("un_pass_notes");
        var a=0;
        var j=0;
        for (var i in userNote) {
            var ul = document.createElement("Ul");
            ul.style.borderRadius = "10px";
            var li1 = document.createElement("Li");
            var bo = document.createElement("button"); //de
            var ao = document.createElement("button"); //add

            var date_show;

            var date = new Date(i);

            bo.id = "bo" + a;
            bo.className = userNote[i].User;

            ao.id = "ao" + (a +1);
            ao.className = userNote[i].User;

            bo.name = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
            ao.name = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
            // console.log(date);
            console.log(date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds());
            var text3 = document.createTextNode("审核通过");
            var text = document.createTextNode("删除");

            //若未仍是待审核状态，在留言后备注 (待审核状态...)
            if(userNote[i].pass === 0){
                date_show = date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds() + "(待审核状态...)";
            }else{
                date_show = date.getFullYear()+"-"+date.getMonth()+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
            }
            if(userNote[i].Param === 0){
                date_show += "（匿名）";
            }

            var text1 = document.createTextNode(userNote[i].User +":  "+ userNote[i].Note + date_show );

            li1.appendChild(text1);
            li1.appendChild(bo);
            li1.appendChild(ao);
            ao.appendChild(text3);
            //ao.style.marginLeft = "20px";
            bo.appendChild(text);
            bo.style.marginLeft = "10px";
            ul.appendChild(li1);
            if (j%2==1) {
                ul.style.background = "#8cffe7";
            } else {
                ul.style.background = "#FFF8DC";
            }
            j++;
            addNoteList.appendChild(ul);
            ul.style.height = "30px";
            a+=2;
        }

        selectListener();
    }
</script>


<script>
    function selectListener() {
        var list = document.getElementsByTagName("button");
        for(var i = 0; i < list.length; i++) {
            list[i].onclick = (function(i) {
                return function() {
                    // alert(document.getElementById("b" + (i-1)).name);
                    //alert(i);
                    if (i%2 == 0) {
                        //删除按钮
                        //alert("这里删除" + document.getElementById("bo" + i).className+":"+document.getElementById("bo" + i).name);
                        DeleteNote(document.getElementById("bo" + i).className,document.getElementById("bo" + i).name);
                    }else if (i%2 == 1) {
                        //审核通过按钮
                        //alert("这里审核" + document.getElementById("ao" + i).className+":"+document.getElementById("ao" + i).name);
                        UpdateNote(document.getElementById("ao" + i).className,document.getElementById("ao" + i).name);
                    }
                }
            }(i));
        }
    }
</script>


<script>
    /*删除*/
    function DeleteNote(userName, date) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {  /*所有数据已经就绪*/
                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                    // alert(xhr.responseText);
                } else {
                    //alert("response was unsuccessful: " + xhr.status);
                }
            }
        };
        try {
            xhr.open("DELETE", "http://localhost:3000/notes/" + userName + "/" + date, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(null);
        } catch (err) {
        }
        location.reload();
    }
</script>

<script>
    /*更改为审核通过*/
    function UpdateNote(userName, date) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {  /*所有数据已经就绪*/
                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
                    // alert(xhr.responseText);
                } else {
                    //alert("response was unsuccessful: " + xhr.status);
                }
            }
        };
        try {
            xhr.open("put", "http://localhost:3000/systemupdate/" + userName + "/" + date, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(null);
        } catch (err) {
        }
        location.reload();
    }
</script>

</body>
</html>
